[package]
name = "password-storage"
version = "0.17.1"
authors = ["Andrey Kutejko <andy128k@gmail.com>"]
build = "build.rs"

[dependencies]
lazy_static = "1.0.0"
failure = "0.1.1"
debug-cell = "0.1.0"

rand = "0.6.0"
rust-crypto = "0.2.36"
deflate = "0.7.17"
inflate = "0.4.0"
minidom = "0.9.0"

toml = "0.4.5"
bincode = "1.0.0"
serde = "1.0.79"
serde_derive = "1.0.79"

glib = { version = "0.6.0", features = ["v2_40"] }
glib-sys = { version = "0.7.0", features = ["v2_40"] }
gobject-sys = "0.7.0"
gio = "0.5.0"
gdk = "0.9.0"
libc = "*"
gtk = { version = "0.5.0", features = ["v3_22"] }
gtk-sys = "0.7.0"
