.password-strength-bar .filled.strength-very-weak {
  background-color: #ff0000;
  border-color: #f00000;
}
.password-strength-bar .filled.strength-weak {
  background-color: #ff8800;
  border-color: #f08000;
}
.password-strength-bar .filled.strength-reasonable {
  background-color: #ffff00;
  border-color: #f0f000;
}
.password-strength-bar .filled.strength-strong {
  background-color: #ccff00;
  border-color: #c0f000;
}
.password-strength-bar .filled.strength-very-strong {
  background-color: #008800;
  border-color: #008000;
}
