---
layout: default
title: News
pagination:
  data: collections.news
  size: 3
  reverse: true
---
{% for news in pagination.items %}
  <h3><a href="{{ news.url | url }}">{{ news.data.title }}</a></h3>
  {{ news.templateContent }}
  <p><em>{{ page.date | date: "%Y-%m-%d" }}</em></p>
  <hr/>
{% endfor %}

<div class="pagination">
{% if pagination.href.previous %}<a class="pagination" href="{{ pagination.href.previous | url }}">Newer</a>{% endif %}
{% if pagination.href.next %}<a class="pagination" href="{{ pagination.href.next | url }}">Older</a>{% endif %}
</div>
