name: CI Linux

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
    - name: Install dependencies
      run: sudo apt-get install -y --no-install-recommends libgtk-4-dev xvfb
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: xvfb-run cargo test --verbose -- --nocapture --test-threads 1
      env:
        RUST_BACKTRACE: 1
