name: Coverage

"on":
  push:
  pull_request:
    types: [opened, reopened]

jobs:
  coverage:
    runs-on: ubuntu-latest
    container:
      image: debian:testing
    steps:
      - name: Install dependencies
        run: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update
          apt-get install -y --no-install-recommends build-essential curl ca-certificates libssl-dev libgtk-4-dev xwayland-run git gpg
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Generate code coverage
        run: wlheadless-run -- cargo llvm-cov --lcov --output-path lcov.info
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: lcov.info
